<a href="https://colab.research.google.com/github/Bhagavanth67/Python-DSA-247/blob/main/Array_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Max in [3,7,2,9,4]
lst = [3,7,2,9,4]
Max = lst[0]
for i in lst:
    if i > Max:
        Max = i
print("Maximum of [3,7,2,9,4] is",Max )

In [ ]:
# Min in [3,7,2,9,4]
lst = [3,7,2,9,4]
Min = lst[0]
for i in lst:
    if i < Min:
        Min = i
print("Minimum of [3,7,2,9,4] is",Min)

In [ ]:
# Sum of [3,7,2,9,4]
lst = [3,7,2,9,4]
Sum = 0
for i in lst:
    Sum += i
print("Sum of [3,7,2,9,4] is",Sum)

In [ ]:
# max([10,5,8,20,3]) using built in function
lst = [10,5,8,20,3]
print("Max :",max(lst))

In [ ]:
# min([10,5,8,20,3]) using built in function
lst = [10,5,8,20,3]
print("Min :",min(lst))

In [ ]:
# sum([10,5,8,20,3]) using built in function
lst = [10,5,8,20,3]
print("Sum :",sum(lst))